<% include ./../_website_theme/header.ejs %>
<div class="page-wrapper">
	<% include ./../_website_theme/nav.ejs %>
	<!-- Banner -->
	<div class="banner static-banner clearfix ">
		<div class="banner_text">What is GDHM?</div>
		<img src="/images/banner_page.png">
	</div>
	<!-- section start -->
	<!-- ================ -->
	<section id="derbyholdem" class="section pv-45 ">
		<div class="container pv-45">
			<div class="row justify-content-lg-center">
				<div class="col-lg-12 text-center">
					<h2 class="title"><strong><%= __("gdhm_Title1") %></strong></h2>
					<div class="separator"></div>
				</div>
				<div class="col-lg-12" data-animation-effect="fadeInDownSmall">
					<img src="/images/grand-img01.jpg">
					<p class="large mt-3">
						<%= __("gdhm_1_Context1") %>
					</p>
					<p class="large">
						<%= __("gdhm_1_Context2") %>
					</p>
					<p class="large">
						<%= __("gdhm_1_Context3") %>
					</p>
					<p class="large">
						<%= __("gdhm_1_Context4") %>
					</p>
              
					<h3 class="font-weight-bold text-center mt-5 mb-3"><%= __("gdhm_Title2") %></h3>
					<div class="separator"></div>
					<h4 class="font-weight-bold"><%= __("gdhm_Title2_Sub1") %></h4>
					<ul>
						<li class="large"><%= __("gdhm_2_Context1_1") %></li>
						<li class="large"><%= __("gdhm_2_Context1_2") %></li>
					</ul>
					<h4 class="font-weight-bold"><%= __("gdhm_Title2_Sub2") %></h4>
					<h4 class="font-weight-bold"><%= __("gdhm_Title2_Sub3") %></h4>
					<ul>
						<li class="large"><%= __("gdhm_2_Context3_1") %></li>
						<li class="large"><%= __("gdhm_2_Context3_2") %></li>
					</ul>
					<img src="/images/dh-flow.png">
				</div>
			</div>
		</div>
	</section>
	<!-- section end -->
	<!-- section start -->
	<!-- ================ -->
	<section id="howtoplay" class="section pv-45 bg01 c1 ">
		<div class="container pb-5">
			<div class="row justify-content-lg-center">
				<div class="col-lg-8 text-center">
					<h2 class="title c1"><%= __("gdhm_Title3") %></h2>
					<div class="separator"></div>
				</div>
				<div class="col-lg-12" data-animation-effect="fadeInUpSmall">
					<div class="basic-rules p-2 mb-5">
						<h3 class="c1 gold font-weight-bold text-center mb-4 mt-3"><%= __("gdhm_Title3_Sub1") %></h3>
						<div style="background: #fff" class="m-3">
							<img src="/images/graph_betting.png">
						</div>
						<ul>
							<li>
								<h4 class="font-weight-bold gold"><%= __("gdhm_Title3_Sub2") %></h4>
							</li>
							<li>
								<h4 class="font-weight-bold gold"><%= __("gdhm_Title3_Sub3") %></h4>
							</li>
							<ul>
								<li class="large"><%= __("gdhm_3_Context3_1") %></li>
								<li class="large"><%= __("gdhm_3_Context3_2") %></li>
								<li class="large"><%= __("gdhm_3_Context3_3") %></li>
							</ul>
						</ul>
						<ul>
							<li>
								<h4 class="font-weight-bold gold"><%= __("gdhm_Title3_Sub4") %></h4>
							</li>
							<ul>
								<li class="large"><%= __("gdhm_3_Context4_1") %></li>
								<li class="large"><%= __("gdhm_3_Context4_2") %></li>
							</ul>
						</ul>
						<ul>
							<li>
								<h4 class="font-weight-bold gold"><%= __("gdhm_Title3_Sub5") %></h4>
							</li>
							<ul>
								<li class="large"><%= __("gdhm_3_Context5_1") %></li>
								<li class="large"><%= __("gdhm_3_Context5_2") %></li>
								<li class="large"><%= __("gdhm_3_Context5_3") %></li>
								<li class="large"><%= __("gdhm_3_Context5_4") %></li>
							</ul>
						</ul>
					</div>

					<div class="row mt-10 mb-20">
						<div class="col-lg-6" data-animation-effect="fadeInLeftSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_Online") %></h4>
							<img src="/images/play-img02.png">
						</div>
						<div class="col-lg-6" data-animation-effect="fadeInRightSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_Online") %></h4>
							<img src="/images/play-img02.jpg">
						</div>
					</div>
					<h4 class="c1 gold font-weight-bold"><%= __("gdhm_Title4") %></h4>
					<h4 class="c1 gold font-weight-bold"><%= __("gdhm_Title4_Sub1") %></h4>
					<div class="row mt-10 mb-20">
						<div class="col-lg-6" data-animation-effect="fadeInLeftSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_User") %></h4>
							<img src="/images/play-img03.png">
						</div>
						<div class="col-lg-6" data-animation-effect="fadeInRightSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_3d") %></h4>
							<img src="/images/play-img04.jpg">
						</div>
					</div>
					<p class="large"><%= __("gdhm_4_Context1_1") %></p>
					<h4 class="c1 gold font-weight-bold"><%= __("gdhm_Title4_Sub2") %></h4>
					<div class="row mt-10 mb-20">
						<div class="col-lg-6" data-animation-effect="fadeInLeftSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_User") %></h4>
							<img src="/images/play-img05.png">
						</div>
						<div class="col-lg-6" data-animation-effect="fadeInRightSmall">
							<h4 class="c1 text-center"><%= __("gdhm_Common_3d") %></h4>
							<img src="/images/play-img06.jpg">
						</div>
					</div>
					<p class="large"><%= __("gdhm_4_Context2_1") %></p>
					<h4 class="c1 gold font-weight-bold"><%= __("gdhm_Title4_Sub3") %></h4>
					<p class="large"><%= __("gdhm_4_Context3_1") %></p>
					<h4 class="c1 gold font-weight-bold"><%= __("gdhm_Title2_Sub4") %></h4>
					<p class="large"><%= __("gdhm_4_Context4_1") %></p>
				</div>
			</div>
		</div>
	</section>
	<!-- section end -->
</div>
<% include ./../_website_theme/footer.ejs %>